.nav a {
	color: #ffffff;
	font-size: 16px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	padding: 10px 10px;
	text-transform: uppercase;
}

.nav a:hover {
	color: #245DB2;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.6);
}

.nav li {
	display: inline;
}

.nav .container {
	position: fixed;
	padding-left: 75px;
}

.jumbotron {
	position: fixed;
	background: url('https://cloud.githubusercontent.com/assets/7704722/5951824/38bc81bc-a721-11e4-9de6-6fcfc0c318d0.jpg');
	z-index: -3;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login {
	position: fixed;
	margin: 0 auto;
	text-align: center;
	top: 25%;
	width: 100%;
}

.login .container {
	background-color: rgba(255, 255, 255, 0.6);
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 300px;
}

.login .container h3 {
	position: relative;
	top: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 40px;
	color: #245DB2;
}

.login input{
	width: 350px;
	height: 45px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Century Gothic', Corbel, Arial;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
	margin-top: 25px;
}

.login input[type=password]{
	margin-top: 10px;
}

.login input[type=button]{
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	color: #245DB2;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(0,0,0,.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(0,0,0,.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
