/* BACKGROUND AND NAVIGATION */
.jumbotron {
	position: fixed;
	background: url('https://cloud.githubusercontent.com/assets/7704722/5951824/38bc81bc-a721-11e4-9de6-6fcfc0c318d0.jpg');
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.nav .container a {
	position: static;
	color: #ffffff;
	font-size: 16px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	padding: 10px 10px;
	text-transform: uppercase;
}

.nav a:hover {
	color: #245DB2;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.6);
}

.nav li {
	display: inline;
}

.nav .container {
	z-index: 1;
}
/* BACKGROUND AND NAVIGATION END */

/* INDEX.HTML ONLY */
.tagline {
	height: 100%
}

.tagline h1 {
	position: relative;
	top: 35%;
	transform: translateY(-35%);
	width: 900px;
	padding: 20px 10px 20px 10px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	font-family: 'Century Gothic', Corbel, Arial;
	font-size: 56px;
	color: black;
}

.container h3 {	
	position: relative;
	top: 10px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 15px;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 40px;
	color: #245DB2;
}

.container p {
	font-size: 18px;
	padding-bottom: 0px;
}

.container a {
	color: #245DB2;
}
Ω.about {
	background-color: white;
	padding-bottom: 30px;
}

.news {
	background-color: white;
	padding-bottom: 30px;
}

.sponsors {
	background-color: white;
	padding-bottom: 30px;
}

.sponsors .container h3 {
	padding-bottom: 5px;
}

.contact {
	background-color: white;
	padding-bottom: 30px;
}

.space {
	height: 3%;
}

img.fade {
	opacity: 0.5;
	height: 100px;
	padding: 5px 20px 0px 20px;
	display: inline-block;
	display: inline;
/*	UNCOMMENT FOR GRAYSCALE WITHOUT HOVER */
/*	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
/*	filter: gray; /* IE6-9 */
/*	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.fade:hover {
	opacity: 1.0;
/*	UNCOMMENT FOR GRAYSCALE TO COLOR ON HOVER */
/*	filter: none; */
/*	-webkit-filter: grayscale(0%); */
}

#peaks {
	height: 130px;
}

.sponsors {
	text-align: center; /* centers logo */
}

.footer {
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.7);
}

.footer .container p {
	top: 15px;
	transform: translateY(15px);
	text-align: right;
	padding-bottom: 0px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: grey;
}

/* LOGIN.HTML ONLY */
.login {
	position: fixed;
	margin: 0 auto;
	text-align: center;
	top: 25%;
	width: 100%;
}

.login .container {
	background-color: rgba(255, 255, 255, 0.6);
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 300px;
}

.login .container h3 {
	position: relative;
	top: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 40px;
	color: #245DB2;
}

.login input{
	width: 350px;
	height: 45px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Century Gothic', Corbel, Arial;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
	margin-top: 25px;
}

.login input[type=password]{
	margin-top: 10px;
}

.login input[type=button]{
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	color: #245DB2;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255 , 255, 255, 0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

/* MEMBERS.HTML ONLY */
iframe, object {
	width: 100%;
	height: 80%;
}

table, tbody {
	border-collapse: separate;
	border-spacing: 1px;
	table-layout: fixed;
	height: 80%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
	display: block;
	left: 252px;
}

th, td {
	border: none;
	background-color: rgba(255, 255, 255, .8);
	font-size: 12px;
	padding: 5px;
	text-align: center;
}

th {
	background-color: rgba(255, 255, 255, 1);
}

tr:hover {
	background-color: rgba(255, 255, 255, 1);
}
