.nav a {
	color: #ffffff;
	font-size: 16px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	padding: 10px 10px;
	text-transform: uppercase;
}

.nav a:hover {
	color: #245DB2;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.6);
}

.nav li {
	display: inline;
}

.nav .container {
	position: fixed;
	padding-left: 75px;
}

.jumbotron {
	position: fixed;
	background: url('http://wallpapers.free-review.net/wallpapers/19/Design_and_build.jpg');
	z-index: -3;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.news {
	position: absolute;
	background-color: white;
	width: 100%;
	top: 45px;
	padding-bottom: 50px;
}

.news .container h3 {	
	position: relative;
	top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 40px;
	color: #245DB2;
}

.news .container p {
	font-size: 18px;
	padding-bottom:10px;
}

.footer {
	padding-bottom: 30px;
}

.footer p {
	top: 10px;
	transform: translateY(10px);
	text-align: right;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: white;
}
